*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.wrapper{
    width: 80%;
    margin: 50px auto;
}

.search img{
    width: 2%;
}

.search span{
    font-size: 2rem;
}

.date{
    margin: 20px 0;
}

.order_details{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px 0;
}

.order-wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 10px;
}

.pagination{
    text-align: center;
    margin-top: 20px;
}